.header{
    background-color: $white;
    position: fixed;
    top: 64px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 1000;
    .logo img{
        height: 50px;
        width: 150px;
        object-fit: contain;
    }
    nav{
        display: flex;
        justify-content: flex-end;
        .lan{
            .en{
                border-right: 1px solid $black;
                padding-right: 4px;
            }
            .bn{
                padding-left: 4px;
            }
            display: flex;
            border-left: 1px solid $gray-2;
            border-right: 1px solid $gray-2;
            font-size: 12px;
            padding: 0 20px;
            cursor: pointer;
            align-items: center;
        }
        .login{
            svg{
                color: $white;
                background-color: $color-one;
                border-radius: 50px;
                padding: 5px;
            }
            padding: 0px 20px;
            border-right: 1px solid $gray-2;
            small{
                padding: 0 5px;
                color:  $black;
                font-size: 12px;
            }
        }
        .cart{
            svg{
                color: $color-one;
            }
            padding: 0px 20px;
        }
    }
}