$color-one: #D70F64;
$btn-hover: rgb(185, 7, 66);
$white: #fff;
$black: #000;
$gray: #ccc;
$gray-2: rgba(207, 207, 207, 0.883);
$gray-3: #707070;
$twin-heading-color: rgba(214, 213, 213, 0.192);
$letter-opacity: #d70f626e;

.theme-bg{
    background-color: $color-one;
    height: 432px;
}